@import "../helpers/_font.scss";
@import "../helpers/_colors.scss";
@import "../helpers/_responsive.scss";

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.content1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10vh 5vw;
    justify-content: space-between;

    .txt{
        padding: 13% 0 13% 8%;
        font-family: $font;
        width: 30vw;
        z-index: 10;
        h1{
            font-size: 50px;
            font-weight: 800;
        }
        p{
            padding-top: 1vh;
            font-size: 20px;
            font-weight: 300;
        }
        button{
            margin-top: 5vh;
            padding: 17px 50px;
            font-size: 16px;
            background-color: $orange;
            color: $white;
            border: transparent;
            text-decoration: none;

            a{
                color : $white;
                text-decoration: none;
            }

            &:hover{
                background-color: $dark;
                text-decoration: none;
                color : $white;
                transition: all 0.3s ease-in-out;
            }

        }
    }

    .illu {
        z-index: 5;
        width: 55vw;
        padding: 50px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width : $resw1225){
    .content1{
        
        .txt{
            padding: 13% 0 13% 3%; 
        }
    }
}


@media screen and (max-width : $resw1024) {
    .content1{
        flex-direction: column-reverse;
        align-items: center;

        .txt{
            width: 55vw;
            padding: 13% 0;
            text-align: center;
        }
        .illu>img {
            width: 100vw;
        }
    }
}

@media screen and (max-width: $resw768){
    .content1{
        .txt{
            width: 85vw;
            h1{
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width : $resw414){
    .content1{
        .txt{
            p{
                font-size: 16px;
            }   
        }
    }
}