@import "../helpers/_colors.scss";

button{
    padding: 17px 50px;
    font-size: 16px;
    background-color: $orange;
    color: $white;
    border: transparent;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    a{
        color : $white;
        text-decoration: none;
    }

    &:hover{
        background-color: $dark;
        text-decoration: none;
        color : $white;
        transition: all 0.3s ease-in-out;
    }

}
