
@import '../helpers/_colors.scss';
* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 0 5vw;
    height : 12vh;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
    line-height: 12vh;

    &.header{
        background-color:$dark;
    }

    &.header-scroll {
        background-color: $blue;
        top: 0;
        left: 0;
        position: sticky;
    }

    .logo{
        width: 70px;
        height: 70px;
        img{
            width: 50px;
            height: 50px;
        }
    }
}