@import '../helpers/colors';
@import '../helpers/font';
@import '../helpers/responsive';

.homeQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;

    .allQuizz {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title {
        color: $orange;
        font-family: $font;
    }
}

@media screen and (max-width : $resw500){
    .title {
        font-size: 1.5rem;
    }
}
