@import '../helpers/colors';

.homeQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;

    .allQuizz {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title {
        color: $orange;
    }
}
