@import "../helpers/font";
@import "../helpers/colors";

.scoreShow {
    text-align: center;
    margin-top: 7%;
    .score {
        color: $orange;
        font-size: 3rem;
    }
    .message {
        color: $orange;
        font-size: 2.2rem;
        padding-top: 50px;
    }
    span {
        color: $blue;
    }
    .ctaQuizz {
        margin-top: 5%;
    }
}
