name: CD/CI

on:
  push:
    branches:
      - develop

jobs:
  ci-cd:
    name: CI/CD
    runs-on: ubuntu-latest

    steps:
      - name: "Init repository"
        uses: actions/checkout@v2

      - name: "Setup Node"
        uses: actions/setup-node@v2
        with: 
          node-version: '15'
      
      - name: "Install depedencies"
        run: yarn install
      
      - name: "Instal eslint"
        run: npm i -g eslint

      - name: "Linter eslint"
        run: eslint src/components/**

      - name: "Build app"
        run: yarn build

      - name: "Install ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      
      - name: "Install dpl"
        run: gem install dpl

      - name: "Deploy to heroku"
        run: dpl --provider=heroku --app=${{secrets.HEROKU_APP}} --api-key=${{secrets.HEROKU_API_KEY_PRE_PROD}} --skip_cleanup=true

on:
  merge:
    branches:
      - master

jobs:
  ci-cd:
    name: CI/CD
    runs-on: ubuntu-latest

    steps:
      - name: "Init repository"
        uses: actions/checkout@v2

      - name: "Setup Node"
        uses: actions/setup-node@v2
        with: 
          node-version: '15'
      
      - name: "Install depedencies"
        run: yarn install
      
      - name: "Instal eslint"
        run: npm i -g eslint

      - name: "Linter eslint"
        run: eslint src/components/**

      - name: "Build app"
        run: yarn build

      - name: "Install ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      
      - name: "Install dpl"
        run: gem install dpl

      - name: "Deploy to heroku"
        run: dpl --provider=heroku --app=${{secrets.HEROKU_APP}} --api-key=${{secrets.HEROKU_API_KEY_PRE_PROD}} --skip_cleanup=true
